In [118]:
import pandas as pd
import sqlalchemy as db
import cx_Oracle as orcl
import datetime as dt

print("cx_Oracle.version:", orcl.version)
# show all columns without without truncating
pd.set_option('display.max_columns', None)

('cx_Oracle.version:', '7.2.3')

In [120]:
host = "10.21.18.13"
port = "1521"
sid = "ECHODB1"
dsn = orcl.makedsn(host, port, sid)
connection = orcl.connect("UAT","uat", dsn)
cur = orcl.Cursor(connection)

In [108]:
##checking customer information
statements = """SELECT * FROM CUSTOMER"""
customer = pd.read_sql_query(statements, connection)
pd.set_option('display.max_columns', None)
customer.head(4)

,CUST_ID,C_DIGIT,CLEANESS,CHILDREN_ABOVE18,NUM_OF_CHILDREN,FAMILY_MEMBERS,FK_BRANCH_PORTFPOR,FK_BRANCH_PORTFBRA,FKUNIT_BELONGS,FKUNIT_IS_MONITORE,FKCURR_HAS_AS_LIMI,FKCURR_THINKS_IN,FKUNIT_IS_SERVICED,FK_DISTR_CHANNEID,FK_BISS_CODE,SELF_NUM,OLD_CUST_ID,LIMIT,CORRESPONDENT_LIMI,FIN_RANGE,CERTIFIC_DATE,SEPA_AGR_DT,STATUS_DATE,FIN_RANGE_DT,TMSTAMP,DATE_OF_BIRTH,EXPIRE_DATE,DOC_EXPIRE_DATE,CUSTOMER_BEGIN_DAT,LEGAL_EXPIRE_DATE,EMPLOYEMENT_START,LAST_UPDATE,CERTIFIC_CUST,SEPA_AGR_FLG,NON_RESIDENT_FOR_R,FAX_INDICATOR,MAJOR_BENEFICIARY,BUSINESS_IND,MAIL_IND,SUN_NONWORK,SAT_NONWORK,ENTRY_STATUS,CUST_TYPE,VIP_IND,BLACKLISTED_IND,NON_REGISTERED,CUST_STATUS,SEX,NON_RESIDENT,NO_AFM,TELEX_CONNECTION,SWIFT_CONNECTION_I,NOSTRO_ACCOUNT_IND,VOSTRO_ACCOUNT_IND,PROHIBIT_WITHDRAW,NON_PROFIT,CONSOLID_STATM_FLG,PENSIONER_IND,INSTITUTE_INV_IND,SELF_INDICATOR,SEGM_FLAGS,TITLE,SPM_NUMBER,FK_CUST_BANKEMPID,FK_BANKEMPLOYEEID,FK0BANKEMPLOYEEID,FK_USRCODE,CHAMBER_ID,DAI_NUMBER,TELEX,SHORT_NAME,LATIN_FIRSTNAME,BIRTHPLACE,FIRST_NAME,FK_GLG_ACCOUNTACCO,INCOMPLETE_U_COMNT,ALERT_MSG,FATHER_SURNAME,SELF_NAME,SECOND_SURNAME,EMPLOYER,EMPLOYER_ADDRESS,ATTRACTION_PERSON,E_MAIL,SURNAME,LATIN_SURNAME,CLEANESS_COMMENTS,PROMOCODE,SWIFT_ADDRESS,MOBILE_TEL,TELEPHONE_1,MIDDLE_NAME,FATHER_NAME,MOTHER_NAME,SPOUSE_NAME,CHAMBER_COMMENTS,MOTHER_SURNAME,ATTRACTION_DETAILS,MARKETING_REMINDER,INTERNET_ADDRESS,ENTRY_COMMENTS,FICLI_DESC,FICLI_CODE,NOT_RES_BOP,REF_B_TRX_USR_SN,REF_D_TRX_USR_SN,REF_TRX_USR,REF_TRX_DATE,REF_TRX_UNIT,REF_DEP_ACC,REF_CUSTID,CITY_OF_BIRTH,REPR_PHONE,REPR_SURNAME,REPR_FIRSTNAME,IBAN_ACCOUNT,BASEL_STATUS,BASEL_DESCRIPTION,AML_STATUS,TURNOVER_AMN,LOANS_AMN,PROFIT_AMN,PROFITABILITY_AMN,SALARY_AMN,ENABLE_FOR_24C,CUST_OPEN_DATE,NO_OF_BUSINESSES,OWNERSHIP_INDICATION,CONTRACT_EXPIRY_DATE,CONTRACT,MOBILE_TEL2,E_MAIL2,CBS_ID,IAPPLY_ID,CRM_ID,COMMUN_METHOD,NO_OF_EMPLOYEES,PERM_EMPLOYEES
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None,None,NaN,None,NaN,NaN,NaN,None,None,None,None,2013-04-22 17:01:43,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,1,1,None,None,None,2,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,,None,None,None,None,None,None,None,None,None,None,None,None,None,...,...,None,None,None,None,None,,,None,None,None,None,None,None,None,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,None,None,None,None,None,None,None,0,NaN,NaN
1,9999999,7,0.0,0.0,0.0,0.0,0.0,9999.0,9999.0,9999.0,None,22.0,None,None,None,0.0,None,0.0,0.0,1000000.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2012-12-31 00:00:00,2013-04-24 13:09:14,2020-12-31 00:00:00,9999-12-31 00:00:00,0001-01-01 00:00:00,2013-03-05 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0,0,0,0,,0,1,None,None,1,2,0,,1,2,M,0,0,0,0,,,0,1,,0,0,R,00,MR.,,None,GLADM,None,None,,,,HOUSING,HOUSING FINANCE,,HOUSING FINANCE,None,,,,,,,,...,...,HOUSING FINANCE ...,HOUSING FINANCE ...,...,,,,,,,,,,,,,,,,0.0,None,None,None,None,None,None,None,None,None,,...,,,,...,,NaN,NaN,NaN,NaN,NaN,None,None,NaN,None,None,None,None,None,None,None,None,0,NaN,NaN
2,1,0,0.0,0.0,0.0,0.0,NaN,NaN,300.0,300.0,None,22.0,None,None,None,0.0,None,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2015-11-25 10:52:43,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2013-03-05 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2015-11-25 10:52:43,,,0,,,0,1,0,0,0,3,0,0,1,2,M,0,,0,0,0,0,0,2,,0,0,R,,MR.,,None,GLADM,None,None,,,,CENTCBK,CBK,,CBK,1.0.0.02.8000,,,,,,,,...,...,CENTRAL BANK OF KENYA ...,CENTRAL BANK OF KENYA ...,...,,CBKEKEN1ELD,,322,,,,,,,,,,,,0.0,None,None,None,None,None,None,None,None,None,,...,,,,...,,0.0,0.0,0.0,0.0,0.0,None,None,NaN,None,None,None,None,None,None,None,None,0,NaN,NaN
3,2,9,0.0,0.0,0.0,0.0,NaN,NaN,300.0,300.0,None,1.0,None,None,None,0.0,None,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2015-11-25 10:31:05,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2013-03-05 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2015-11-25 10:31:05,,,0,,,0,1,0,0,0,3,0,0,1,2,M,0,,0,0,0,0,0,2,,0,0,R,,MR.,,None,GLADM,None,None,,,,CITICIT,CITI US,,CITI US,1.0.0.00.5000,,,,,,,,...,...,CITIBANK USA ...,CITIBANK USA ...,...,,CITIUS33XXX,,,,,,,,,,,,,,0.0,None,None,None,None,None,None,None,None,None,,...,,,,...,,0.0,0.0,0.0,0.0,0.0,None,None,NaN,None,None,None,None,None,None,None,None,0,NaN,NaN

In [109]:
###latest customer numbers
customer.tail(4)

,CUST_ID,C_DIGIT,CLEANESS,CHILDREN_ABOVE18,NUM_OF_CHILDREN,FAMILY_MEMBERS,FK_BRANCH_PORTFPOR,FK_BRANCH_PORTFBRA,FKUNIT_BELONGS,FKUNIT_IS_MONITORE,FKCURR_HAS_AS_LIMI,FKCURR_THINKS_IN,FKUNIT_IS_SERVICED,FK_DISTR_CHANNEID,FK_BISS_CODE,SELF_NUM,OLD_CUST_ID,LIMIT,CORRESPONDENT_LIMI,FIN_RANGE,CERTIFIC_DATE,SEPA_AGR_DT,STATUS_DATE,FIN_RANGE_DT,TMSTAMP,DATE_OF_BIRTH,EXPIRE_DATE,DOC_EXPIRE_DATE,CUSTOMER_BEGIN_DAT,LEGAL_EXPIRE_DATE,EMPLOYEMENT_START,LAST_UPDATE,CERTIFIC_CUST,SEPA_AGR_FLG,NON_RESIDENT_FOR_R,FAX_INDICATOR,MAJOR_BENEFICIARY,BUSINESS_IND,MAIL_IND,SUN_NONWORK,SAT_NONWORK,ENTRY_STATUS,CUST_TYPE,VIP_IND,BLACKLISTED_IND,NON_REGISTERED,CUST_STATUS,SEX,NON_RESIDENT,NO_AFM,TELEX_CONNECTION,SWIFT_CONNECTION_I,NOSTRO_ACCOUNT_IND,VOSTRO_ACCOUNT_IND,PROHIBIT_WITHDRAW,NON_PROFIT,CONSOLID_STATM_FLG,PENSIONER_IND,INSTITUTE_INV_IND,SELF_INDICATOR,SEGM_FLAGS,TITLE,SPM_NUMBER,FK_CUST_BANKEMPID,FK_BANKEMPLOYEEID,FK0BANKEMPLOYEEID,FK_USRCODE,CHAMBER_ID,DAI_NUMBER,TELEX,SHORT_NAME,LATIN_FIRSTNAME,BIRTHPLACE,FIRST_NAME,FK_GLG_ACCOUNTACCO,INCOMPLETE_U_COMNT,ALERT_MSG,FATHER_SURNAME,SELF_NAME,SECOND_SURNAME,EMPLOYER,EMPLOYER_ADDRESS,ATTRACTION_PERSON,E_MAIL,SURNAME,LATIN_SURNAME,CLEANESS_COMMENTS,PROMOCODE,SWIFT_ADDRESS,MOBILE_TEL,TELEPHONE_1,MIDDLE_NAME,FATHER_NAME,MOTHER_NAME,SPOUSE_NAME,CHAMBER_COMMENTS,MOTHER_SURNAME,ATTRACTION_DETAILS,MARKETING_REMINDER,INTERNET_ADDRESS,ENTRY_COMMENTS,FICLI_DESC,FICLI_CODE,NOT_RES_BOP,REF_B_TRX_USR_SN,REF_D_TRX_USR_SN,REF_TRX_USR,REF_TRX_DATE,REF_TRX_UNIT,REF_DEP_ACC,REF_CUSTID,CITY_OF_BIRTH,REPR_PHONE,REPR_SURNAME,REPR_FIRSTNAME,IBAN_ACCOUNT,BASEL_STATUS,BASEL_DESCRIPTION,AML_STATUS,TURNOVER_AMN,LOANS_AMN,PROFIT_AMN,PROFITABILITY_AMN,SALARY_AMN,ENABLE_FOR_24C,CUST_OPEN_DATE,NO_OF_BUSINESSES,OWNERSHIP_INDICATION,CONTRACT_EXPIRY_DATE,CONTRACT,MOBILE_TEL2,E_MAIL2,CBS_ID,IAPPLY_ID,CRM_ID,COMMUN_METHOD,NO_OF_EMPLOYEES,PERM_EMPLOYEES
880525,969029,4,0.0,0.0,0.0,0.0,0.0,109.0,109.0,109.0,None,0.0,None,None,None,0.0,None,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-24 23:45:59,1994-06-19 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-25 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,,,,,,,,,,1,1,,,,2,M,0,1,,,,,0,2,,,0,R,,,,KOCE0001,KOCE0001,None,None,,,,KINYUAPATR,PATRICK,,PATRICK,None,,,,,,,,...,...,KINYUA ...,KINYUA ...,...,,,254702289500,,MBAABU,,,,,,,,,,,0.0,None,None,None,None,None,None,None,None,None,,...,,,,...,,0.0,0.0,0.0,0.0,0.0,,2019-09-25 00:00:00,0.0,,0001-01-01 00:00:00,,,,,KOCE0001,,S,0.0,0.0
880526,969030,0,0.0,0.0,0.0,0.0,0.0,109.0,109.0,109.0,None,0.0,None,None,None,0.0,None,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-25 00:04:41,1990-06-19 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-25 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,,,,,,,,,,1,1,,,,2,F,0,1,,,,,0,2,,,0,R,,,,KOCE0001,KOCE0001,None,None,,,,ONYANGOWITN,WITNEY,,WITNEY,None,,,,,,,,...,...,ONYANGO ...,ONYANGO ...,...,,,254799833124,,AWUOR,,,,,,,,,,,0.0,None,None,None,None,None,None,None,None,None,,...,,,,...,,0.0,0.0,0.0,0.0,0.0,,2019-09-25 00:00:00,0.0,,0001-01-01 00:00:00,,,,,KOCE0001,,S,0.0,0.0
880527,969031,0,0.0,0.0,0.0,0.0,0.0,109.0,109.0,109.0,None,0.0,None,None,None,0.0,None,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-25 00:29:18,1986-12-31 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-25 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,,,,,,,,,,1,1,,,,2,F,0,1,,,,,0,2,,,0,R,,,,KOCE0001,KOCE0001,None,None,,,,OKELLOCHRI,CHRISTINE,,CHRISTINE,None,,,,,,,,...,...,OKELLO ...,OKELLO ...,...,,,254721619462,,ADHIAMBO,,,,,,,,,,,0.0,None,None,None,None,None,None,None,None,None,,...,,,,...,,0.0,0.0,0.0,0.0,0.0,,2019-09-25 00:00:00,0.0,,0001-01-01 00:00:00,,,,,KOCE0001,,S,0.0,0.0
880528,969032,9,0.0,0.0,0.0,0.0,0.0,109.0,109.0,109.0,None,0.0,None,None,None,0.0,None,0.0,0.0,0.0,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-25 02:15:37,1987-12-25 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,2019-09-25 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,0001-01-01 00:00:00,,,,,,,,,,1,1,,,,,M,0,1,,,,,0,2,,,0,R,,,,KOCE0001,KOCE0001,None,None,,,,OLOONICH,NICHOLAS,,NICHOLAS,None,,,,,,,,...,...,OLOO ...,OLOO ...,...,,,254724125120,,OMONDI,,,,,,,,,,,0.0,None,None,None,None,None,None,None,None,None,,...,,,,...,,0.0,0.0,0.0,0.0,0.0,,2019-09-25 00:00:00,0.0,,0001-01-01 00:00:00,,,,,KOCE0001,,S,0.0,0.0

In [111]:
statement_trx = """select P.ACCOUNT_NUMBER,p.cust_id,
trim(C.SURNAME) || ' '|| trim(C.FIRST_NAME) ||' ' || trim(C.MIDDLE_NAME) as name,
D.ID_TRANSACT,
d.TIMESTAMP,
D.ID_JUSTIFIC,
J.DESCRIPTION,
DECODE (D.DEBIT_CREDIT_FLAG,'2','CR','1','DR') "DR/CR",
D.ENTRY_AMOUNT,
D.PREV_ACC_BALANCE, 
D.VALUE_DATE,
D.TRX_USR,
D.ENTRY_COMMENTS
from fst_demand_extrait d, justific j, profits_account p, customer c
where
D.ID_JUSTIFIC = J.ID_JUSTIFIC
and
P.CUST_ID = C.CUST_ID
and
D.FK_DEPOSIT_ACCOACC= P.DEP_ACC_NUMBER
and p.PRFT_SYSTEM=3
and trunc(d.TIMESTAMP) >= to_date('01-06-2019','dd-mm-yyyy')
and trunc(d.TIMESTAMP) <= to_date('30-09-2019','dd-mm-yyyy')
order by D.VALUE_DATE asc"""
trxns_data = pd.read_sql_query(statement_trx, connection)
pd.set_option('display.max_columns', None)
trxns_data.head(10)

,ACCOUNT_NUMBER,CUST_ID,NAME,ID_TRANSACT,TIMESTAMP,ID_JUSTIFIC,DESCRIPTION,DR/CR,ENTRY_AMOUNT,PREV_ACC_BALANCE,VALUE_DATE,TRX_USR,ENTRY_COMMENTS
0,2204303202,220430,MUTUMA LUISER NTHAMBI,3361,2019-06-03 16:25:13.840,16001,CHEQUE DEPOSIT OF OTHER BANK (ELEC.CLER),DR,13000.00,3.052449e+05,2019-04-30,99986061,
1,7040002331,177693,ALWANG'A AND COMPANY-CLIENT,3361,2019-06-21 15:45:59.050,16001,CHEQUE DEPOSIT OF OTHER BANK (ELEC.CLER),DR,675775.00,7.595425e+06,2019-05-30,99986061,
2,0000270001,27,CBK-CLEARING & SETTLEMENT A/C CENTRAL BANK,3191,2019-06-03 09:04:00.554,39101,INCOMING RTGS DB,DR,70000.00,-1.712040e+09,2019-05-31,SIS415,FT19151JDFDY
3,2186163201,218616,CBS ENGINEERING LIMITED,73111,2019-06-01 00:47:48.205,93916,Interest,DR,20.19,-2.327200e+03,2019-06-01,99973114,
4,1325873203,132587,PATEL AMBALAL MANGALDAS,73111,2019-06-01 00:47:17.329,93916,Interest,DR,9.91,-1.245760e+03,2019-06-01,99973114,
5,1535995001,153599,AIRTOUCH COOLING SYSTEMS LTD,73111,2019-06-01 00:47:33.898,93916,Interest,DR,0.15,-1.808000e+01,2019-06-01,99973118,
6,3140393201,314039,MUGO BONFACE KARIUKI,73111,2019-06-01 00:47:42.560,93916,Interest,DR,1.00,-3.284500e+02,2019-06-01,99973115,
7,2289213201,228921,REBECCUM CONTRACTORS & GENERAL SERVICES LIMITED,73111,2019-06-01 01:00:13.725,93916,Interest,DR,31.25,-3.179310e+03,2019-06-01,99973114,
8,5168313201,516831,MUNGAI NAHASHON KABIRU,73111,2019-06-01 00:47:29.060,93916,Interest,DR,5.13,-1.336160e+03,2019-06-01,99973117,
9,1631623201,163162,M'ABURI ANDREW NJERU,73111,2019-06-01 01:00:10.362,93916,Interest,DR,138.54,-1.289678e+04,2019-06-01,99973113,

In [ ]:

trxns_data.tail(10)

In [116]:
statement_trx_4 = '''SELECT distinct D.TMSTAMP, D.TRX_DATE, d.TRX_UNIT, d.TRX_USR, d.TRX_USR_SN, d.TUN_INTERNAL_SN, TRIM (TO_CHAR (D.TRX_DATE, 'yyyymmdd')) || '' || TRIM (D.TRX_UNIT) || '' || TRIM (D.TRX_USR) || '' || TRIM (ABS (D.TRX_USR_SN) - 1) || '' || TRIM (D.TUN_INTERNAL_SN) AS TRANSACTION_REF, P.DESCRIPTION AS PRODUCT_DESCRIPTION, R.ACCOUNT_NUMBER, A.DESIGNATION AS ACCOUNT_NAME, D.I_ID_JUSTIFIC, J.DESCRIPTION AS TRANSACTION_TYPE, ABS (D.I_AMOUNT) "TRANSACTION_AMOUNT", D.ACC_AMOUNT_40 AS COMMISSION, D.I_COMMENTS TRX_COMMENTS, F.REVERSE_FLAG, F.REVERSED_TRX_FLAG
FROM DEP_TRX_RECORDING D, JUSTIFIC J, PRODUCT P, DEPOSIT_ACCOUNT A, PROFITS_ACCOUNT R, FST_DEMAND_EXTRAIT F 
WHERE  A.ACCOUNT_NUMBER = D.I_ACCOUNT_NUMBER
AND R.DEP_ACC_NUMBER = D.I_ACCOUNT_NUMBER
AND R.DEP_ACC_NUMBER = F.FK_DEPOSIT_ACCOACC
AND A.ACCOUNT_NUMBER = F.FK_DEPOSIT_ACCOACC
AND D.ID_PRODUCT = P.ID_PRODUCT
AND D.I_ID_JUSTIFIC = J.ID_JUSTIFIC
AND F.TRX_DATE = D.TRX_DATE
AND F.TRX_UNIT = D.TRX_UNIT
AND F.TRX_SN = D.TRX_USR_SN
AND F.TRX_USR = D.TRX_USR
AND F.TUN_INTERNAL_SN = D.TUN_INTERNAL_SN
AND D.TRX_DATE BETWEEN TO_DATE ('01-01-2019', 'dd-mm-yyyy')
AND TO_DATE ('20-10-2019', 'dd-mm-yyyy')
#AND D.I_ID_JUSTIFIC IN (31102,31103,31104,31112,31113,31501,31511,31521,31531,31541,31551,31561,31572,31703,31704,31705,31718,31719,31721,31730,31731,31732,31750,31761,31771)
#AND D.I_ID_JUSTIFIC IN (31111,31705) #need to find the staff proucts
AND R.PRFT_SYSTEM = 3
AND F.REVERSE_FLAG = 0
AND F.REVERSED_TRX_FLAG = 0
AND D.ACC_AMOUNT_40 <> 0
AND P.ID_PRODUCT IN (31111,31705)
AND d.TRX_USR LIKE 'KOCE%''''
trxns_data_trx_4 = pd.read_sql_query(statement_trx_4, connection)

In [117]:
trxns_data_trx_4.tail()

Empty DataFrame
Columns: [TMSTAMP, TRX_DATE, TRX_UNIT, TRX_USR, TRX_USR_SN, TUN_INTERNAL_SN, TRANSACTION_REF, PRODUCT_DESCRIPTION, ACCOUNT_NUMBER, ACCOUNT_NAME, I_ID_JUSTIFIC, TRANSACTION_TYPE, TRANSACTION_AMOUNT, COMMISSION, TRX_COMMENTS, REVERSE_FLAG, REVERSED_TRX_FLAG]
Index: []

In [80]:
df1 = trxns_data_trx_4

In [81]:
#column names and type
df1.dtypes

TMSTAMP                datetime64[ns]
TRX_DATE               datetime64[ns]
TRX_UNIT                        int64
TRX_USR                        object
TRX_USR_SN                      int64
TUN_INTERNAL_SN                 int64
TRANSACTION_REF                object
PRODUCT_DESCRIPTION            object
ACCOUNT_NUMBER                 object
ACCOUNT_NAME                   object
I_ID_JUSTIFIC                   int64
TRANSACTION_TYPE               object
TRANSACTION_AMOUNT            float64
COMMISSION                    float64
TRX_COMMENTS                   object
REVERSE_FLAG                   object
REVERSED_TRX_FLAG              object
dtype: object

In [97]:
rfmTable = df1.groupby('ACCOUNT_NUMBER').agg({'TRX_DATE': lambda x: (dt.datetime.now() - x.max()).days, 'TRANSACTION_REF': lambda x: len(x), 'COMMISSION': lambda x: x.sum()})
rfmTable['TRX_DATE'] = rfmTable['TRX_DATE'].astype(int)
rfmTable.rename(columns={'TRX_DATE': 'recency', 
                         'TRANSACTION_REF': 'frequency', 
                         'COMMISSION': 'monetary_value'}, inplace=True)

In [98]:
rfmTable

                                          frequency  recency  monetary_value
ACCOUNT_NUMBER
0040163201                                        3       29           150.0
0050833101                                        1       33          1000.0
0077513202                                        1       30           500.0
0083923201                                        2       29            60.0
0086873201                                        1       30            60.0
0094983202                                        2       30           560.0
0152883204                                        2       33           120.0
0189713102                                        1       30            35.0
0199853201                                        1       30            60.0
0203343202                                        1       30            35.0
0218183201                                        1       30            35.0
0220913201                                        2       30           120.0
0281233102                                        1       29           500.0
0300563201                                        1       29           100.0
0375653201                                        3       29           300.0
0381813201                                        1       29            35.0
0410783202                                        5       30           186.0
0454523201                                        1       29            60.0
0472833202                                        1       30           100.0
0485653201                                        1       30            35.0
0492973201                                        1       29             5.0
0519753201                                        2       28          2000.0
0531093202                                        5       28           219.0
0533983202                                        2       29            70.0
0543453201                                        1       29           250.0
0544783201                                        1       32             5.0
0593883201                                        1       32           100.0
0602173201                                        5       30           275.0
0604903202                                        1       30           100.0
0617873201                                        2       32           900.0
...                                             ...      ...             ...
9679063201                                        1       29             5.0
9679533201                                        9       29           268.0
9680173201                                        1       30            23.0
9680933201                                        3       29           123.0
9681593201                                        1       30            60.0
9681673201                                        5       29           234.0
9681743201                                        1       30            23.0
9682143201                                        1       30            40.0
9682183201                                        1       29            60.0
9682463201                                        1       30           750.0
9682783201                                        1       30            60.0
9682993201                                        1       30            60.0
9683143201                                        2       30            65.0
9683633201                                        2       30            35.0
9683983201                                        2       29            10.0
9684093201                                        1       30            30.0
9684653201                                        1       30            60.0
9685763201                                        1       29            23.0
9686143201                                        1       29            30.0
9686203201                                        1       29            30.0
9686853201                                        2       29           120.0
9687213201                                        5       28           135.0
9687243201                                        1       29            60.0
9687943201                                        1       29            23.0
9687993201                                        4       29           156.0
9688393201                                        1       29            60.0
9689163201                                        2       29            10.0
9689213201                                        1       29            60.0
9689763201                                        1       28            23.0
9689923201                                        1       28            30.0

[5025 rows x 3 columns]

In [103]:
quantiles = rfmTable.quantile(q=[0.25,0.5,0.75])
quantiles = quantiles.to_dict()

In [101]:
#reference https://towardsdatascience.com/find-your-best-customers-with-customer-segmentation-in-python-61d602f9eee6
segmented_rfm = rfmTable

In [102]:
#The lowest recency, highest frequency and monetary amounts are our best customers.
def RScore(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FMScore(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [105]:
segmented_rfm['r_quartile'] = segmented_rfm['recency'].apply(RScore, args=('recency',quantiles,))
segmented_rfm['f_quartile'] = segmented_rfm['frequency'].apply(FMScore, args=('frequency',quantiles,))
segmented_rfm['m_quartile'] = segmented_rfm['monetary_value'].apply(FMScore, args=('monetary_value',quantiles,))
segmented_rfm.head()

,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile
ACCOUNT_NUMBER,,,,,,
0040163201,3,29,150.0,1,1,1
0050833101,1,33,1000.0,4,4,1
0077513202,1,30,500.0,2,4,1
0083923201,2,29,60.0,1,2,3
0086873201,1,30,60.0,2,4,3

In [107]:
segmented_rfm['RFMScore'] = segmented_rfm.r_quartile.map(str)   + segmented_rfm.f_quartile.map(str) + segmented_rfm.m_quartile.map(str)
segmented_rfm.head()

,frequency,recency,monetary_value,r_quartile,f_quartile,m_quartile,RFMScore
ACCOUNT_NUMBER,,,,,,,
0040163201,3,29,150.0,1,1,1,111
0050833101,1,33,1000.0,4,4,1,441
0077513202,1,30,500.0,2,4,1,241
0083923201,2,29,60.0,1,2,3,123
0086873201,1,30,60.0,2,4,3,243

In [ ]:
segmented_rfm[segmented_rfm['RFMScore']=='111'].sort_values('monetary_value', ascending=False).head(10)